

<div id= "task-form" style= "display:none;"></div>

<h1>Listing Tasks</h1>

<h2>Tasks</h2>
<div id="tasks">
  <ul>
    <%= render @tasks %>
  </ul>
</div>

<%= link_to 'New Task', new_task_path, remote: true %>
